@model List<LabTask1.Models.Student>
@{
    ViewBag.Title = "Home Page";
}

<h2>CreateS</h2>
<h3>Students Details are Given Below:</h3>
<table class="table-condensed">
    <tr>
        <td>Name</td>
        <td>Dob</td>
        <td>Credit</td>
        <td>CGPA</td>
    </tr>
    @foreach (var students in @Model)
    {
    <tr>
        <td>@students.Name</td>
        <td>@students.Dob</td>
        <td>@students.Credit</td>
        <td>@students.CGPA</td>
        <td><a href="/Student/Edit/@students.Id" class="btn btn-success">Edit</a></td>
        <td><a href="/Student/Delete/@students.Id" class="btn btn-danger">Delete</a></td>
    </tr>

    }

</table>
